<!DOCTYPE html>
<html>
  <head>
    <title>IMDb movie infos</title>
  </head>
  <body>
    <h1>Top Rated Movies on IMDb</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Link</th>
        <th>Image Hoster</th>

      </tr>
      {% for movie in movies %}
      <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.rating }}</td>
        <td>{{ movie.link }}</td>
        <td>{{ movie.image }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
